<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>Are you sure?</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                  <button class="button">Delete</button>
                </div>
              </form>
        </div>
    </main>
    
</body>
</html>